@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --my-padding:0.4rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
    font-family: 'Roboto', sans-serif;
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 0.75fr;
    grid-template-areas:
    "header menu"
    "hero hero"
    "main image"
    "main extra"
    "banner banner";
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    }

   header {
        align-items: center;
        display: grid;
        background-color: black;
        grid-area: header;
        padding: var(--my-padding);
    } 

   menu {
        align-items: center;
        display: grid;
        background-color: red;
        grid-area: menu;
        padding: var(--my-padding);
    } 

    .hero {
        align-items: center;
        display: grid;
        background-color: rgb(78, 78, 204);
        grid-area: hero;
        padding: var(--my-padding);
    }

    main {
        align-items: center;
        place-items: end center;
        display: grid;
        background-color: rgb(68, 13, 13);
        grid-area: main;
        padding: var(--my-padding);
        grid-template-rows: 1fr 1fr;
    }

    .image {
        align-items: center;
        display: grid;
        background-color: rgb(1, 184, 230);
        grid-area: image;
        padding: var(--my-padding);
        grid-template-rows: 1fr;
    }

    .extra {
        align-items: center;
        display: grid;
        background-color: rgb(6, 135, 6);
        grid-area: extra;
        padding: var(--my-padding);
    }

    .banner {
        align-items: center;
        display: grid;
        background-color: rgb(230, 154, 13);
        grid-area: banner;
        padding: var(--my-padding);
}

@media (max-width: 1024px) {

    .container {
     grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 0.75fr;
    grid-template-areas:
    "header header header"
    "hero hero hero"
    "menu main main"
    "menu banner banner"
    "menu extra image";   
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
       grid-template-rows: 0.5fr 1fr 1.5fr 2fr 1fr 1fr 1fr;
       grid-template-areas:
       "header"
       "menu"
       "hero"
       "main"
       "banner"
       "extra"
       "image";   
       }
}